<div class="container-fluid dashboard-content" id="content">
	<div class="mb-3">
			<div class="">
				<span class="sub-header h4">Parking History</span>
			</div>
	</div>

  <!-- ============================================================== -->
  <!-- INPUTS -->
  <!-- ============================================================== -->

	<div class="row ms-3">
		<div class="col-12">
			<div class="card" id="data-card">
				<div class="">
					<div class="form-group">
						<!-- <div class="d-flex justify-content-start align-items-center "> -->
						<div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-sm-12">
							<div class="row d-flex align-items-center justify-content-start">
								<div class="col-xl-1 col-lg-2 col-md-4 col-xs-12 col-sm-12">
									<button
										*ngIf="!isdatewise"
										(click)="LatestHistory()"
										class="btn default me-2 text-white "
									>
										<span
										class="spinner-border spinner-border-sm me-2 ms-2"
										role="status"
										aria-hidden="true"
										*ngIf="loaderLatest"
										></span>
										<fa-icon
										icon="filter"
										*ngIf="!loaderLatest"
										class="ms-1 me-2 text-white"
										style="cursor: pointer"
										></fa-icon
										>Latest
									</button>
								</div>
								<div class="col-xl-2 col-lg-2 col-md-4 col-xs-12 col-sm-12">
									<button class="btn default me-2 " (click)="OnlyParking()">
									<fa-icon icon="parking" class="me-1"></fa-icon>
									Only Parking History
									</button>
								</div>
								<div class="col-xl-2 col-lg-2 col-md-4 col-xs-12 col-sm-12">
									<button class="btn default me-2 " (click)="OnlyNo_Parking()">
									<fa-icon icon="ban" class="me-1"></fa-icon>
									Only No-Parking History
									</button>
								</div>
								<div class="col-xl-2 col-lg-2 col-md-4 col-xs-12 col-sm-12">
									<button class="btn default me-2 " (click)="Violations()">
									<fa-icon icon="exclamation-triangle" class="me-1"></fa-icon>Only Violations
									</button>
								</div>
								<div class="col-xl-2 col-lg-2 col-md-4 col-xs-12 col-sm-12">
									<button class="btn default-outline me-2" (click)="RefreshViolations()">
									<fa-icon icon="rotate" class="me-1"></fa-icon>Refresh Details
									</button>
								</div>
								
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row border rounded m-2">
		<div class="col-12">
			<div class="card" id="data-card">
				<div class="row">
					<div class="d-flex justify-content-start align-items-center p-2 ">
						<div class="me-3">
							<div class="container p-3">
								<fa-icon icon="filter"></fa-icon>
							</div>
						</div>

						<div class="col-xl-11 col-lg-12 col-md-12 col-xs-12 col-sm-12">
							<div class="row d-flex align-items-center justify-content-start">
								<span class="col-xl-2 col-lg-2 col-md-4 col-xs-12 col-sm-12">
									<div
										class="datePickerContainer"
										(click)="openDatePicker($event)"
									>
										<div class="w-100">
											<input
												type="text"
												[showCustomRangeLabel]="true"
												ngxDaterangepickerMd
												#datepicker
												[ranges]="ranges"
												[timePicker]="true"
												placeholder="Select Date"
												(datesUpdated)="Submit()"
												[(ngModel)]="selectedMoments"
												required
												id="dateInput"
												autocomplete="off"
												class="form-control"
											/>
										</div>

										<div class="input-group-append">
											<button
												class="ngx-daterangepicker-action btn default"
												type="button"
											>
												<fa-icon
												icon="calendar"
												class="ngx-daterangepicker-action"
												
												></fa-icon>
											</button>
										</div>
									</div>
								</span>

								<div
									class="col-xl-2 col-lg-2 col-md-4 col-xs-12 col-sm-12"
									id="filter"
									>
									<p-treeSelect
										[containerStyleClass]="'w-100'"
										class="w-100 d-flex"
										[(ngModel)]="selectedDepartment"
										[ngModelOptions]="{ standalone: true }"
										[options]="dropdownList1 | async"
										[style]="{ width: 'inherit' }"
										(onNodeSelect)="onDepartmentIdSelect($event)"
										placeholder="Select Department"
									></p-treeSelect>
								</div>
								<div
									class="col-xl-2 col-lg-2 col-md-4 col-xs-12 col-sm-12"
									id="filter"
									>
									<p-treeSelect
										[containerStyleClass]="'w-100'"
										class="w-100 d-flex"
										[(ngModel)]="selectedCameraId"
										[ngModelOptions]="{ standalone: true }"
										[options]="dropdownList | async"
										[style]="{ width: 'inherit' }"
										(onNodeSelect)="onCameraIdSelect($event)"
										placeholder="Select Camera"
									></p-treeSelect>
								</div>
								<div
									class="col-xl-2 col-lg-2 col-md-4 col-xs-12 col-sm-12"
									id="filter"
									>
									<p-treeSelect
										[containerStyleClass]="'w-100'"
										class="w-100 d-flex"
										[(ngModel)]="selectedParkingType"
										[ngModelOptions]="{ standalone: true }"
										[options]="parkingTypeList | async"
										[style]="{ width: 'inherit' }"
										(onNodeSelect)="OnParkingTypeSelect()"
										placeholder="Select Parking Type"
									></p-treeSelect>
								</div>
								<div
									class="col-xl-2 col-lg-2 col-md-4 col-xs-12 col-sm-12"
									id="filter"
									>
									<p-treeSelect
										[containerStyleClass]="'w-100'"
										class="w-100 d-flex"
										[(ngModel)]="selectedViolationType"
										[ngModelOptions]="{ standalone: true }"
										[options]="violationTypeList | async"
										[style]="{ width: 'inherit' }"
										(onNodeSelect)="OnViolationSelect()"
										placeholder="Select Violation Option"
									></p-treeSelect>
								</div>

								<div
								class="col-xl-1 col-lg-2 col-md-4 col-xs-12 col-sm-12"
								
									>
									<button
										class="btn default-outline"
										(click)="ResetFilters()"
										*ngIf="
										selectedCameraId !== null ||
										selectedDepartment !== null ||
										selectedMoments?.startDate !== null
										"
									>
										&times;Cancel Filters
									</button>
								</div>
								<div
								class="col-xl-1 col-lg-2 col-md-4 col-xs-12 col-sm-12 float-end"
								>
									<button
										class="btn default"
										
										(click)="Submit()"
										
										[disabled]="
										selectedMoments === null ||
										selectedMoments.startDate === null ||
										selectedMoments.endDate === null
										"
									>
										<span *ngIf="!loading">Submit</span>
										<span
										class="spinner-border spinner-border-sm"
										role="status"
										aria-hidden="true"
										*ngIf="loading"
										></span>
									</button
									>&nbsp;
								</div>
									<!-- <button
										type="submit"
										class="btn default text-white me-3"
										(click)="submitForm()"
										[disabled]="
										selectedMoments == null ||
										selectedMoments.startDate === null ||
										selectedMoments.endDate === null ||
										excelLoad
										"
									>
										<fa-icon
										icon="download"
										class="ms-1 me-1"
										style="cursor: pointer"
										*ngIf="!excelLoad"
										></fa-icon>
										<span
										class="spinner-border spinner-border-sm me-1"
										role="status"
										aria-hidden="true"
										*ngIf="excelLoad"
										></span>
										Excel</button
									>&nbsp; -->

									<!-- <div
									class="col-xl-1 col-lg-2 col-md-4 col-xs-12 col-sm-12"
									
									>
										
										<button
										class="btn default text-white"
										*ngIf="isdatewise || isLatest"
										(click)="BackToToday()"
										
										> -->
											<!-- <fa-icon
												icon="chart-area"
												*ngIf="!loader2"
												class="text-white me-2"
											></fa-icon> -->
											<!-- <span *ngIf="!loader2">Live</span> -->
											<!-- <span
												class="spinner-border spinner-border-sm"
												role="status"
												aria-hidden="true"
												*ngIf="loader2"
											></span> -->
										<!-- </button>
									
								</div> -->
							</div>
						</div>
						<!-- <span class="justify-content-end me-3">
							<span class="mr-2" *ngIf="isdatewise">
								<b>Show:</b>
							</span>

							<select
								class="custom-select col-2"
								*ngIf="isdatewise"
								style="width: auto"
								[(ngModel)]="pageSize"
								(ngModelChange)="sliceVD()"
							>
								<option ngValue="30">30 items per page</option>
								<option ngValue="40">40 items per page</option>
								<option ngValue="50">50 items per page</option>
							</select>
						</span> -->
					</div>
				</div>

				<!-- ============================================================== -->
				<!-- END OF INPUTS -->
				<!-- ============================================================== -->

				<!-- ============================================================== -->
				<!-- DATA TABLE -->
				<!-- ============================================================== -->

				<div id="dataTable">
					<div class="data-container" style="width: 100%; overflow: auto">
						<div class="">
							<div class="header" style="overflow: auto">
								<div
								scope="col"
								class="d-flex align-items-center justify-centent-center"
								>
									<div>
										<b>SNo.</b>
									</div>
								</div>

								<div
								scope="col"
								class="d-flex justify-content-center align-items-center"
								>
									<div>
										<b> Image</b>
									</div>
								</div>

								<div
								scope="col"
								class="d-flex justify-content-center align-items-center"
								>
									<div>
										<b> Details</b>
									</div>
								</div>

								<div
								scope="col"
								class="d-flex justify-content-center align-items-center"
								>
									<div>
										<b> Department </b>
									</div>
								</div>

								<div
								scope="col"
								class="d-flex justify-content-center align-items-center"
								>
									<div>
										<b>Camera Name</b>
									</div>
								</div>

								<div
								scope="col"
								class="d-flex justify-content-center align-items-center"
								>
									<div>
										<b>Detected Time</b>
									</div>
								</div>

								<div
								
								class="d-flex justify-content-center align-items-center"
								scope="col"
								>
									<div>
										<b>Is Valid?</b>
									</div>
								</div>

								<div><b>Status</b></div>
							</div>

							<ng-container *ngIf="vpmsData.length > 0; else noData">
								<div
								*ngFor="
									let data of vpmsData;
									let i = index;
									trackBy: trackByFn
								"
								style="text-align: center"
								>
									<div *ngIf="data?.analytics_log[0].details">
										<p-carousel [value]="data.analytics_log[0].details" [id]="data.analytics_log[0].details">
											<ng-template let-d pTemplate="d" let-index="index" >
												<div [ngClass]="data.analytics_log[0].status !== 'free'&&
												data.analytics_log[0].status !== 'Unauthorized Parking'?'data-wrapper alert alert-success p-2':'data-wrapper p-1'">
													<div class="d-flex flex-column justify-content-center align-items-center" >
														<!-- {{ data.analytics_log[0].details.SNo }}.{{ d.id }} -->
														<div class="icon-top-left justify-content-center align-items-center" >
															<fa-icon icon="exclamation-triangle"  *ngIf="d.violation === 1"></fa-icon>
														</div>
														
														<div class="d-felx justify-content-center align-items-center">
															{{i+1}}.{{index}}
														</div>
														
														
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														<!-- <div class="column-flex">
														<img
															[src]="
															API +
															'/image/' +
															analyticsType +
															'/' +
															d.imagename[0]
															"
															class="image"
															loading="lazy"
															(click)="imageCarousal(d)"
														/>
														<br />

														<div class="column-flex">
															<button
															*ngIf="d.imagename.length < 1"
															class="btn btn-sm mt-2"
															(click)="imageCarousal(d)"
															>
															&nbsp;&nbsp;
															<fa-icon icon="images" class="mr-1"></fa-icon>
															More Images
															</button>

															<button
															class="btn btn-sm default text-white mt-2"
															(click)="
																downloadImage(
																API +
																	'/image/' +
																	analyticsType +
																	'/' +
																	d.imagename
																)
															"
															>
															Download Image
															<fa-icon
																icon="download"
																class="ms-1 me-1"
																style="cursor: pointer"
															></fa-icon>
															</button>
														</div>
														</div> -->
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														<div class="violation_data_container">
														{{d.message}}
														<!-- <ng-scrollbar
															style="height: 8rem !important"
															#scrollable
															track="vertical"
															pointerEventsMethod="scrollbar"
															[autoHeightDisabled]="true"
															[disabled]="false"
														>
															<div >
															<div class="border-bottom"
																*ngFor="
																let roi of d?.analytics_data?.ROI_details
																"
															>
																<div>
																<div *ngIf="roi?.roi_name">
																	<span class="text-muted">ROI Name</span
																	><span *ngIf="roi?.roi_name" class="ms-2"><b>{{
																	roi.roi_name
																	}}</b> </span>
																</div>
																<span *ngIf="roi?.person"
																	><span>Person</span
																	><span *ngIf="roi?.person">{{
																	roi.person
																	}}</span>
																</span>
																<span *ngIf="roi?.car"
																	><span>Car</span
																	><span *ngIf="roi?.car">{{
																	roi.car
																	}}</span>
																</span>
																<span
																	*ngFor="
																	let objectkey of objectKeys(
																		roi.obj_details
																	)
																	"
																>
																	<span class="text-muted">{{ objectkey }} count </span
																	><span class="ms-2"
																	><b>{{
																		roi.obj_details[objectkey]
																	}}</b></span
																	>
																</span>
																<br />
																</div>
															</div>
															</div>
														</ng-scrollbar> -->
														</div>
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														{{ data.department ? data.department : "null" }}
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														{{ data.camera_name ? data.camera_name : "null" }}
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														Entry Time:<br>
															{{ data.analytics_log[0].entry_time | dateFormater }}<br>
														Exit Time:<br>
															{{ data.analytics_log[0].exit_time | dateFormater }}
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														<!-- <div class="column-flex">
														<div
															*ngIf="isEditTable"
															id="verify"
															style="width: 5rem"
															class="d-flex justify-content-center align-items-center"
														>
															<div
															*ngIf="
																!d.violation_verificaton_status;
																else verified
															"
															>
															<div class="" id="right">
																<input
																type="radio"
																[value]="0"
																(change)="
																	VerifyTrueViol($event, d, data.SNo)
																"
																[defaultValue]="true"
																[id]="
																	'yes' + String(data.SNo) + String(d.id)
																"
																class=""
																/>
																<label
																[for]="
																	'yes' + String(data.SNo) + String(d.id)
																"
																class="form-check-label text-success"
																>Yes
																</label>
															</div>

															<div class="" id="wrong">
																<input
																type="radio"
																[value]="1"
																(change)="
																	VerifyFalseViol($event, d, data.SNo)
																"
																[defaultValue]="false"
																[id]="
																	'no' + String(data.SNo) + String(d.id)
																"
																class=""
																/>
																<label
																[for]="
																	'no' + String(data.SNo) + String(d.id)
																"
																class="form-check-label text-danger"
																>No
																</label>
															</div>
															</div>

															<ng-template #verified>
															
															<div *ngIf="d.violation_verificaton_status">
																<div class="" id="right">
																<input
																	type="radio"
																	[value]="0"
																	(change)="
																	VerifyTrueViol($event, d, data.SNo)
																	"
																	[defaultValue]="true"
																	[id]="
																	'yes' +
																	String(data.SNo) +
																	String(d.id)
																	"
																	class=""
																	[defaultChecked]="
																	d.violation_status === true
																	"
																/>
																<label
																	[for]="
																	'yes' +
																	String(data.SNo) +
																	String(d.id)
																	"
																	class="form-check-label text-success"
																	>Yes
																</label>
																</div>

																<div class="" id="wrong">
																<input
																	type="radio"
																	[value]="1"
																	(change)="
																	VerifyFalseViol($event, d, data.SNo)
																	"
																	[defaultValue]="false"
																	[id]="
																	'no' + String(data.SNo) + String(d.id)
																	"
																	class=""
																	[defaultChecked]="
																	d.violation_status === false
																	"
																/>
																<label
																	[for]="
																	'no' + String(data.SNo) + String(d.id)
																	"
																	class="form-check-label text-danger"
																	>No
																</label>
																</div>
															</div>
															</ng-template>
														</div>
														</div> -->
														{{data.analytics_log[0].type}}
														
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														<!-- <div>
														<div
															class="btn"
															(click)="IsDeleteData(deleteModal, d)"
														>
															<fa-icon
															icon="trash"
															class="text-danger"
															></fa-icon>
														</div>
														</div> -->
														{{data.analytics_log[0].status}}

														
													</div>
												</div>
											</ng-template>
										</p-carousel>
									</div>
								</div>
							</ng-container>
						</div>

						<ng-template #noData>
							<div *ngIf="!isLatestvpmsData" class="row card card-body" id="data-card">
								<div
									class="text-muted d-flex justify-content-center align-items-center"
									*ngIf="dataFetchStatus === 'success'"
									>
									<h4>History is Not there.</h4>
								</div>

								<div
									class="text-muted d-flex justify-content-center align-items-center"
									*ngIf="dataFetchStatus === 'init'"
									>
									<span
										class="spinner-border spinner-border-sm me-2 text-prime"
										role="status"
									></span>
									Loading History Details...
								</div>

								<div
									class="d-flex justify-content-center align-items-center"
									*ngIf="dataFetchStatus === 'Loading'"
									>
									<h4>Loading...</h4>
								</div>

								<div
									class="text-muted d-flex justify-content-center align-items-center"
									*ngIf="dataFetchStatus === 'Error'"
									>
									Error While Fetching the Data.
								</div>
							</div>
							<ng-container *ngIf="isLatestvpmsData">
								<div
								*ngFor="
									let data of latestvpmsData;
									let i = index;
									trackBy: trackByFn
								"
								style="text-align: center"
								>
									<div *ngIf="data?.analytics_log.details">
										<p-carousel [value]="data.analytics_log.details" [id]="data.analytics_log.details">
											<ng-template let-d pTemplate="d" let-index="index">
												<div class="data-wrapper p-2">
													<div class="column-flex" style="padding-left: 0.5rem">
														<!-- {{ data.analytics_log[0].details.SNo }}.{{ d.id }} -->
														{{i+1}}.{{index}}
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														<!-- <div class="column-flex">
														<img
															[src]="
															API +
															'/image/' +
															analyticsType +
															'/' +
															d.imagename[0]
															"
															class="image"
															loading="lazy"
															(click)="imageCarousal(d)"
														/>
														<br />

														<div class="column-flex">
															<button
															*ngIf="d.imagename.length < 1"
															class="btn btn-sm mt-2"
															(click)="imageCarousal(d)"
															>
															&nbsp;&nbsp;
															<fa-icon icon="images" class="mr-1"></fa-icon>
															More Images
															</button>

															<button
															class="btn btn-sm default text-white mt-2"
															(click)="
																downloadImage(
																API +
																	'/image/' +
																	analyticsType +
																	'/' +
																	d.imagename
																)
															"
															>
															Download Image
															<fa-icon
																icon="download"
																class="ms-1 me-1"
																style="cursor: pointer"
															></fa-icon>
															</button>
														</div>
														</div> -->
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														<div class="violation_data_container">
														{{d.message}}
														<!-- <ng-scrollbar
															style="height: 8rem !important"
															#scrollable
															track="vertical"
															pointerEventsMethod="scrollbar"
															[autoHeightDisabled]="true"
															[disabled]="false"
														>
															<div >
															<div class="border-bottom"
																*ngFor="
																let roi of d?.analytics_data?.ROI_details
																"
															>
																<div>
																<div *ngIf="roi?.roi_name">
																	<span class="text-muted">ROI Name</span
																	><span *ngIf="roi?.roi_name" class="ms-2"><b>{{
																	roi.roi_name
																	}}</b> </span>
																</div>
																<span *ngIf="roi?.person"
																	><span>Person</span
																	><span *ngIf="roi?.person">{{
																	roi.person
																	}}</span>
																</span>
																<span *ngIf="roi?.car"
																	><span>Car</span
																	><span *ngIf="roi?.car">{{
																	roi.car
																	}}</span>
																</span>
																<span
																	*ngFor="
																	let objectkey of objectKeys(
																		roi.obj_details
																	)
																	"
																>
																	<span class="text-muted">{{ objectkey }} count </span
																	><span class="ms-2"
																	><b>{{
																		roi.obj_details[objectkey]
																	}}</b></span
																	>
																</span>
																<br />
																</div>
															</div>
															</div>
														</ng-scrollbar> -->
														</div>
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														{{ data.department ? data.department : "null" }}
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														{{ data.camera_name ? data.camera_name : "null" }}
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														Entry Time:<br>
															{{ data.analytics_log.entry_time | dateFormater }}<br>
														Exit Time:<br>
															{{ data.analytics_log.exit_time | dateFormater }}
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														<!-- <div class="column-flex">
														<div
															*ngIf="isEditTable"
															id="verify"
															style="width: 5rem"
															class="d-flex justify-content-center align-items-center"
														>
															<div
															*ngIf="
																!d.violation_verificaton_status;
																else verified
															"
															>
															<div class="" id="right">
																<input
																type="radio"
																[value]="0"
																(change)="
																	VerifyTrueViol($event, d, data.SNo)
																"
																[defaultValue]="true"
																[id]="
																	'yes' + String(data.SNo) + String(d.id)
																"
																class=""
																/>
																<label
																[for]="
																	'yes' + String(data.SNo) + String(d.id)
																"
																class="form-check-label text-success"
																>Yes
																</label>
															</div>

															<div class="" id="wrong">
																<input
																type="radio"
																[value]="1"
																(change)="
																	VerifyFalseViol($event, d, data.SNo)
																"
																[defaultValue]="false"
																[id]="
																	'no' + String(data.SNo) + String(d.id)
																"
																class=""
																/>
																<label
																[for]="
																	'no' + String(data.SNo) + String(d.id)
																"
																class="form-check-label text-danger"
																>No
																</label>
															</div>
															</div>

															<ng-template #verified>
															
															<div *ngIf="d.violation_verificaton_status">
																<div class="" id="right">
																<input
																	type="radio"
																	[value]="0"
																	(change)="
																	VerifyTrueViol($event, d, data.SNo)
																	"
																	[defaultValue]="true"
																	[id]="
																	'yes' +
																	String(data.SNo) +
																	String(d.id)
																	"
																	class=""
																	[defaultChecked]="
																	d.violation_status === true
																	"
																/>
																<label
																	[for]="
																	'yes' +
																	String(data.SNo) +
																	String(d.id)
																	"
																	class="form-check-label text-success"
																	>Yes
																</label>
																</div>

																<div class="" id="wrong">
																<input
																	type="radio"
																	[value]="1"
																	(change)="
																	VerifyFalseViol($event, d, data.SNo)
																	"
																	[defaultValue]="false"
																	[id]="
																	'no' + String(data.SNo) + String(d.id)
																	"
																	class=""
																	[defaultChecked]="
																	d.violation_status === false
																	"
																/>
																<label
																	[for]="
																	'no' + String(data.SNo) + String(d.id)
																	"
																	class="form-check-label text-danger"
																	>No
																</label>
																</div>
															</div>
															</ng-template>
														</div>
														</div> -->
														{{data.analytics_log.type}}
														
													</div>

													<div
														class="d-flex justify-content-center align-items-center"
													>
														<!-- <div>
														<div
															class="btn"
															(click)="IsDeleteData(deleteModal, d)"
														>
															<fa-icon
															icon="trash"
															class="text-danger"
															></fa-icon>
														</div>
														</div> -->
														{{data.analytics_log.status}}

														
													</div>
												</div>
											</ng-template>
										</p-carousel>
									</div>
								</div>
							</ng-container>

						</ng-template>

						<!-- <div class="d-flex mx-auto justify-content-center p-1">
						<ngb-pagination
							[collectionSize]="total | async"
							[(page)]="page"
							[pageSize]="pageSize"
							style="width: 95vw; overflow-x: auto"
							(pageChange)="sliceVD()"
						>
						</ngb-pagination>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <ng-template let-modal #deleteModal>
	<div class="modal-body">
		<div class="modal-confirm">
			<div class="modal-content">
				<div class="modal-header flex-column">
					<div class="icon-box">
						<i class="material-icons">&#xE5CD;</i>
					</div>
					<h4 class="modal-title w-100">Are you sure?</h4>
				</div>

				<div class="modal-body">
					<p>
						Do you really want to delete this violation Details? This process
						cannot be undone.
					</p>
				</div>

				<div class="modal-footer justify-content-center">
					<button
						type="button"
						class="btn btn-secondary"
						(click)="modal.close('Cross click')"
						data-dismiss="modal"
					>
						Cancel
					</button>
					<button
						type="button"
						class="btn danger"
						(click)="DeleteViolationData()"
					>
						Delete
					</button>
				</div>
			</div>
		</div>
	</div>
</ng-template> -->
